# Python 3.10 Required

# Core dependencies
opencv-python==4.13.0.92
opencv-contrib-python==4.13.0.92
numpy>=1.24.0
matplotlib>=3.10.8
Pillow>=12.1.1
protobuf==3.20.3

# Deep learning libraries
torch>=2.0.0
torchvision>=0.15.0

# Additional libraries from chess_best_move
ultralytics
python-chess
flask
faiss-cpu>=1.7.4

# From openCV_actions
mediapipe==0.10.9